{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'super/style.css' %}">

    <title>Admin Login</title>
</head>

<body>
    <div class="login-wrapper">
        <h2>Admin Login</h2>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="form-label">Email</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn-login">Login</button>
        </form>

        <div class="signup-link">
            Not an admin? <a href="{% url 'homepage' %}">Return to Homepage</a>
        </div>
    </div>
</body>

</html>